@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
body{
    background-color: darkblue;
    margin-top: 15px;
}
.container{
    background-color: white;
    border-radius: 5px;
    width:85%;
}
#top{
    padding-bottom: 10px;
    border: 3px solid lightgrey;
}
.error{
    color:red;
}